<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja Bem-Vindo</title>
    <style>
        body {
            background-image: url('https://img.freepik.com/fotos-premium/pano-de-fundo-digital-escuro-com-icones-landing-page-concept-3d-rendering_670147-20147.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh; /* Garante que a imagem de fundo cubra toda a altura da janela de visualização */
            margin: 0; /* Remove margens para evitar espaços em branco */
            padding: 0; /* Remove preenchimento */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white; /* Define a cor do texto para branco para melhor legibilidade */
        }
        h1, h2, p {
            margin: 10px; /* Adiciona margens para espaçamento */
            color: white;
        }
        img {
            width: 250px;
            height: 250px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Seja Bem-Vindo</h1>
    <h2><%= cookies[:curso] %></h2>
    <p>O idioma usado nessa aplicação é: <strong> <%= I18n.locale %> </strong></p>
    <p><strong>Data:</strong> <%= data_br(Date.today) %></p>
    <p><strong>Horário:</strong> <span id="horario"></span></p>
    <%= render "menu"%>

    <p>
        Você está em ambiente de <strong><%= Rails.env %></strong>
    </p>

    <script>
        function atualizarHorario() {
            var agora = new Date();
            var horas = agora.getHours().toString().padStart(2, '0');
            var minutos = agora.getMinutes().toString().padStart(2, '0');
            var segundos = agora.getSeconds().toString().padStart(2, '0');
            var horarioFormatado = horas + ":" + minutos + ":" + segundos;
            document.getElementById("horario").innerText = horarioFormatado;
        }
        setInterval(atualizarHorario, 1000); // Atualiza o horário a cada segundo

        atualizarHorario(); // Chama a função uma vez para exibir o horário inicial
    </script>

    <p>
        Eu sou uma variável de instância/sessão <strong><%= @meu_nome %></strong>
    </p>
    <p>
        Meu curso é o curso de <strong><%= @curso %></strong>
    </p>

</body>
</html>
